@font-face {
    font-family: AnandaNamaste;
    src: url(../fonts/AnandaNamaste.ttf);
}

.bk-navigation ul li a,.bk-navigation ul li.bk-dropdown ul li a{
	font-family: AnandaNamaste;
	font-size: 24px
}
.handy-pointer{cursor:pointer;}

body.modal-open .bk-service{
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}
.modal-backdrop{
	background-color: #0000008c;
}

